.emoji-mart-scroll {
    @include hide-scrollbar();
}

.emoji-mart-title-label {
    font-size: $font-size-base !important;
}

.emoji-mart-category-label {
    font-size: $font-size-sm;
    color: $gray-500;
}

.emoji-mart-anchor {
    color: $gray-500;

    &.emoji-mart-anchor-selected {
        color: $primary !important;
    }
}

.emoji-mart-anchor-bar {
    background-color: $primary !important;
}

.emoji-mart-search input {
    padding: 0.3125rem 1.875rem 0.375rem 0.625rem !important;
    font-size: $font-size-sm !important;
}

.emoji-mart-search-icon {
    top: 0.25rem;
}

@media only screen and (max-width: 20rem) {
    .emoji-mart.emoji-mart-light {
        width: "19rem";
    }
}

@media only screen and (max-width: 23.4375rem) {
    .emoji-mart.emoji-mart-light {
        width: "20rem";
    }
}

@media only screen and (max-width: 26.5625rem) {
    .emoji-mart.emoji-mart-light {
        width: "25rem";
    }
}

@media only screen and (max-width: 48rem) {
    .emoji-mart.emoji-mart-light {
        width: "30rem";
    }
}

@media only screen and (max-width: 64rem) {
    .emoji-mart.emoji-mart-light {
        width: "50rem";
    }
}

@media only screen and (max-width: 90rem) {
    .emoji-mart.emoji-mart-light {
        width: "65rem";
    }
}